# Build artifacts
obj
bin
lib.*
lib

# Testsuite output
tmp
out
testsuite/out

# Python artifacts
*.pyc

# Clang artifacts
.clang-format

# VSCode settings, possible modified by ancr
.vscode/settings.json
testsuite/test_programs/.vscode/settings.json

# GNATCoverage artifacts
gnatcov_rts*
*.srctrace

# Documentation artifacts
user_manual/_build
