{
    "ada.projectFile": "gnat/lsp_server.gpr",
    "ada.scenarioVariables": {
        "LIBRARY_TYPE": "static"
    },
    "files.associations": {
        "*.json.tmpl": "jsonc"
    },
    "files.watcherExclude": {
        "**/.git/objects/**": true,
        "**/.git/subtree-cache/**": true,
        "**/.hg/store/**": true,
        "**/node_modules/*/**": true,
        ".obj/": true
    },
    "flake8.args": [
        "--max-line-length",
        "88"
    ],
    "python.analysis.extraPaths": [
        "testsuite"
    ]
}
